@import '@/styles/mixins';

.map {
    width: calc(100% + 2rem); /* + twice the value of the parent's padding*/
    margin-left: -1rem; /* - the value of the parent's padding*/
    height: 16.6875rem;
    object-fit: cover;

    @include screen($tablet) {
        width: calc(
            100% + 2.5rem
        ); /* + twice the value of the parent's padding*/
        margin-left: -1.25rem; /* - the value of the parent's padding*/
        height: 35.8125rem;
    }

    @include screen($desktop) {
        width: 100%;
        height: 29.0625rem;
        margin: 0;
    }
}
