$purple-1: theme('colors.custom-purple-1');
$purple-2: theme('colors.custom-purple-2');
$text-color-1: theme('colors.text-color-1');
$text-color-2: theme('colors.text-color-2');
$text-color-3: theme('colors.text-color-3');
$text-color-4: theme('colors.text-color-4');
$text-color-5: theme('colors.text-color-5');
$bg-color-1: theme('colors.bg-color-1');
