$mobile: 360px;
$tablet: 768px;
$desktop: 1440px;


@mixin screen($breakpoint) {
    @if $breakpoint == $mobile {
        @media (min-width: 360px) {
            @content;
        }
    }

    @else if $breakpoint == $tablet {
        @media (min-width: 768px) and (max-width: 1439px) {
            @content;
        }
    }

    @else if $breakpoint == $desktop {
        @media (min-width: 1440px)  {
            @content;
        }
    }
}