$mobile: 360px;
$tablet: theme('screens.md');
$desktop: theme('screens.xl');

@mixin screen($breakpoint) {
    @if $breakpoint == $mobile {
        @media (min-width: 360px) {
            @content;
        }
    } @else if $breakpoint == $tablet {
        @media (min-width: 768px) {
            @content;
        }
    } @else if $breakpoint == $desktop {
        @media (min-width: 1440px) {
            @content;
        }
    }
}
